<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBrd_mVYOz5TVdVx8VtaESFeDBgWUVjp8A</string>
	<key>GCM_SENDER_ID</key>
	<string>297335374803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RadhikaAggarwal.groceryAssist</string>
	<key>PROJECT_ID</key>
	<string>grocery-assist-8186c</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-assist-8186c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297335374803:ios:26b5a495d85303bb15a526</string>
</dict>
</plist>